// .header-container {
//   height: 30px;
// }

.header {
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 100%;
  background-color: #333;
  color: #ccc;
  font-size: 14px;
  padding-left: 40px;
  padding-right: 40px;
  height: 45px;
}

.logo {
  color: white;
  padding: 0 15px;
  background-color: rgb(255, 85, 0);
  font-size: 40px;
  height: 100%;
}

.header-left,
.header-right {
  display: flex;
  align-content: center;
  height: 100%;
}

.header-link {
  font-size: 14px;
  padding-top: 15px;
  padding-left: 30px;
}

.header-link a {
  color: #ccc;
}

.upload-link a {
  color: #ccc;
}

.hero-buttons-header {
  display: flex;
  align-items: center;
}

.hero-buttons-header .signupButton {
  padding: 3px 8px;
}

.hero-buttons-header .loginButton {
  padding: 3px 8px;
  border: 1px solid grey;
}

.upload-link {
  font-size: 14px;
  padding-top: 15px;
  padding-left: 30px;
}

.header-content {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.username {
  color: white;
  padding: 10px 15px;
}

// .user-artwork {
// }

.user-artwork img {
  padding-top: 7px;
  height: 30px;
  width: 30px;
  padding-right: 0px;
  // width: 30px;
  padding-left: 30px;
  // background-size: auto;
}

.header-dropdown {
  font-size: 24px;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  position: relative;
  padding-left: 0;
  // margin-left: 20px;
}

.header-dropdown:hover {
  cursor: pointer;
}

.dropdown-list {
  width: 150px;
  font-size: 14px;
  list-style: none;
  position: absolute;
  top: 30px;
  left: -146px;
  padding: 20px;
  // left: 25px;
  // background-color: #333;
  background-color: black;
}

.dropdown-list li {
  padding: 0 0 15px 0;
  font-weight: 400;
}

.dropdown-list li:hover {
  cursor: pointer;
}

.dropdown-list li:last-child {
  padding-bottom: 5px;
}

.dropdown-list a {
  color: white;
}

.dropdown-open {
  background-color: black;
}

.dropdown-toggle {
  padding-top: 5px;
}
