.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  animation-duration: 1s;
  animation-name: fadein;
}

.modal-content {
  position: fixed;
  background: white;
  width: 45%;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-duration: 1s;
  z-index: 103;
  animation-name: slidedown;
}

.modal-close {
  position: fixed;
  right: 5%;
  top: 5%;
  font-size: 28px;
  background: transparent;
  border: none;
}

.modal-close:hover {
  cursor: pointer;
}

.fadeout {
  animation-duration: 0.5s;
  animation-name: fadeout;
}

.slideup {
  animation-duration: 1s;
  animation-name: slideup;
}

.update-form-content {
  position: relative;
  width: 800px;
  left: 25%;
  top: 100px;
  // box-shadow: 9px 10px 24px -5px rgba(105, 105, 105, 1);
  background-color: transparent;
}

.song-upload-form-modal {
  width: 800px;

  box-shadow: 9px 10px 24px -5px rgba(105, 105, 105, 1);
  background-color: white;
}

// .update-form-container {
//   position: relative;
//   width: 800px;
//   left: 15%;
//   top: 100px;
//   box-shadow: 9px 10px 24px -5px rgba(105, 105, 105, 1);
//   background-color: white;
// }

.updateModalButton {
  position: relative;
  top: -20px;
  left: 715px;
  padding: 2px 8px;
  background-color: #ff5500;
  border-radius: 5px;
  font-size: 14px;
  color: white;
}

.updateModalButton:hover {
  cursor: pointer;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slidedown {
  from {
    transform: translate(-50%, -500%);
  }

  to {
    transform: translate(-50%, -50%);
  }
}

@keyframes slideup {
  from {
    transform: translate(-50%, -50%);
  }

  to {
    transform: translate(-50%, -500%);
  }
}
