.progress-bar-container {
  display: flex;
  align-items: center;
  .elapsed-time {
    font-size: 12px;
    color: #ff5500;
    padding: 2px 15px;
  }
  .remaining-time {
    font-size: 12px;
    padding: 2px 15px;
  }
}

.progress-container {
  width: 350px;
  height: 1px;
  background-color: #ccc;
  .progress {
    position: relative;
    height: 1px;
    background-color: #ff5500;
  }
}
