.user-detail-main {
  margin: 0 auto;
  width: 95%;
  height: 100%;
  max-width: 1240px;
  min-width: 1100px;
  background-color: white;
}

.user-detail-header {
  height: 210px;
  background: linear-gradient(315deg, rgb(112, 146, 156) 0%, rgb(230, 132, 110) 100%);
  display: flex;
  padding: 25px;
  margin: 0 auto;
  .user-avatar-container {
    .user-avatar {
      width: 200px;
      height: 200px;
      background-image: linear-gradient(135deg, #70929c, #e6846e);
      border-radius: 50%;
      img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
      }
    }
    label {
      padding: 3px 8px;
      bottom: 30px;
      left: 40px;
      border-radius: 3px;
    }
  }
  .user-detail-username {
    color: white;
    font-size: 28px;
    padding: 15px 45px;
    span {
      background-color: black;
      padding: 5px 8px;
    }
  }
}

.song-item-container {
  display: flex;
  padding: 0 25px 40px 25px;
  .song-item-artwork {
    height: 160px;
    width: 160px;
    background-image: linear-gradient(135deg, #70929c, #846170);
    img {
      width: 160px;
      height: 160px;
    }
  }
  .song-waveform {
    background-image: image-url('audio-waveform-icon-17.jpg');
    background-position: center;
    width: 400px;
    height: 50px;
    margin-left: 20px;
  }
}

.song-item-header {
  display: flex;
  align-items: center;
  .play-button {
    font-size: 34px;
  }
  .song-item-artist {
    color: #999;
    font-size: 14px;
    line-height: 1.2;
  }
  .song-item-title {
    line-height: 1.8;
    a {
      color: black;
    }
  }
}

.user-detail-left {
  width: 70%;
  border-right: 1px solid rgba(201, 200, 200, 0.6);
  margin: 30px 0;
  min-width: 700px;
}

.user-detail-right {
  width: 30%;
}

.user-detail-content {
  display: flex;
}
